{% extends 'flatpages/default.html' %}
{% load custom_filters %}
{% load censor %}
{% block title %}
{% endblock title %}
{% load cache %}
{% block content %}
   <hr>
{% cache 10 tabl2 %}
       <table>

           <tr>

               <td>{% censor new.title %}</td>

               <td>{{ new.author }}</td>

               <td>{% news_time new.dateCreation %}</td>


           </tr>
           <tr>


               <td>-------------------------</td>
           </tr>
           <tr>


               <td>{% censor new.text %}</td>
           </tr>
       </table>
{% endcache %}

{% endblock content %}






