{% extends 'flatpages/default.html' %}
{% load custom_filters %}
{% load censor %}
{% load cache %}
{% block title %}
News
{% endblock title %}

{% block content %}

   <h1>Все новости</h1>


   <hr>
   {% if news %}
{% cache 10 tabl %}
       <table>
           <tr>
               <td>Название</td>
               <td> |</td>
               <td>Категория</td>
               <td> |</td>
               <td>Рейтинг</td>
               <td> |</td>
               <td>Автор</td>
               <td> |</td>
               <td>Дата написания</td>
               <td> |</td>
               <td>Содержание</td>
           </tr>
           <tr>
               <td>_______________</td>


           </tr>

           {% for post in news %}
           <tr>


               <td>{% censor post.title %}</td>
                              <td> |</td>
               <td>{% for category in post.postCategory.all %}
                   <a href="{% url 'category_list' category.id %}"> {{category}} </a>
                   {% endfor %}
               </td>
                              <td> |</td>
               <td>{{ post.rating }}</td>
                              <td> |</td>
               <td>{{ post.author }}</td>
                              <td> |</td>
               <td>{% news_time post.dateCreation %}</td>
                              <td> |</td>
               <td>{% censor post.text|truncatechars:20 %}</td>
           </tr>
           {% endfor %}

       </table>
{% endcache %}
   {% else %}
       <h2> Новостей нет!</h2>
   {% endif %}






   {% if page_obj.has_previous %}
        <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
          <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
        <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
        <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}








